/* createChannelPopup, currentChannelInfoPopup */

#createChannelForm,
#currentChannelInfo,
#userProfileInfo,
#oneUserProfile,
#promptPopupInfo {
    display: grid;
    overflow: hidden;
    overflow-wrap: break-word;
    max-width: 600px;
    margin: 0 3em;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 60px 1fr; */
    gap: 10px 0;
    color: black !important;
}

.popupTitleBar {
    grid-column: 1/13;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-bottom: 1px solid gray;
}

.popupTitle {
    grid-column: 2/11;
    align-self: center;
    font-weight: 1000 !important;
}

.closePopupBtn {
    grid-column: 11/13;
    place-self: center;
    padding: 1em;
    border-radius: 3px;
}

.closePopupBtn:hover {
    background-color: rgb(238, 238, 238);
}

.popupContentBar {
    grid-column: 1/13;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px 0;
    overflow-y: scroll;
}

#promptContent {
    grid-template-columns: 1fr;
    overflow: hidden;
    overflow-wrap: anywhere;
    margin: 1em;
}

#createChannelContent::-webkit-scrollbar,
#currentChannelContent::-webkit-scrollbar {
    width: 0;
}

.infoItem {
    grid-column: 2/12;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
}

#createChannelForm span,
#currentChannelInfo span,
#oneUserProfile span {
    font-weight: lighter;
}

#currentChannelInfoBtnBar {
    grid-template-columns: 1fr 1fr;
}

#currentChannelInfoBtnBar,
#createChannelBtnBar,
#userProfileUpdateBar {
    grid-column: 2/12;
    place-items: center;
    display: grid;
    margin-bottom: 1em;
}

#currentChannelInfoBtnBar {
    grid-template-columns: repeat(2, 1fr);
}

#createChannelBtn {
    padding: 0.5em 2em;
    font-size: 1.2em;
    font-weight: 600;
}

#createChannelBtn:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 0px rgb(0, 0, 0, 0.4);
}


/* confirmPopup */

#confirmPopup {
    display: grid;
    z-index: 1;
    overflow-wrap: break-word;
    max-width: 600px;
    margin: 0 3em;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 0;
    color: black;
}

#confirmPopupBtnBox {
    grid-column: 2/12;
    display: grid;
    place-items: center;
}


/* pinPopup */

#pinPopup,
#memberPopup {
    overflow-y: scroll;
    overflow-wrap: break-word;
    display: grid;
    max-width: 600px;
    padding: 1em 2em;
    background-color: #4AA3F7;
    border-radius: 0.5em;
}


/* memberPopup */

#memberPopup::-webkit-scrollbar {
    width: 0;
}

#memberPopup li {
    grid-template-columns: 1em 1.5em 1fr;
}